.bg {
    /* the copy right for the bg photo is in the public domain acquired Sept.2018 from 
    https://www.publicdomainpictures.net/en/view-image.php?image=232779&picture=forest-landscape */
    background-image: url("../data/bg.jpg");
    height: 100vh; 
    width: 100vw
}

#content {
    position:relative;
}

.center {
    position:center center;
    margin: auto; 
}

main {
    position: absolute;;
    width: 70%; 
}

aside {
    position: absolute;
    width: 28%; 
    right: 0;
}




